.review__card{
    display: flex;
    padding: 25px 15px;

    @media screen and (max-width:1100px){
        flex-direction: column;
        padding: 25px 0;
    } 
    &__child{

        &__image{
            width: 90px;
            height: 90px;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            box-shadow: $cardShadow;
        }
        &--right{
            padding: 5px 20px;

            p{
                &:first-child{
                    font-weight: 100 !important;
                    font-size: 17px;
                    margin-bottom: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: gray;

                    @media screen and (max-width:600px) {
                        font-size: 15px;
                        line-height: 1.2;
                    }
                }

                &:nth-child(2){
                    font-weight: 600;
                    font-size: 21px;

                    @media screen and (max-width:600px) {
                        font-size: 18px;
                        line-height: 1.2;
                    }
                }
                &:nth-child(3){
                    font-size: 14px;
                    color: gray;
                    margin-bottom: 18px;
                }
                &:nth-child(4){
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 25px;
                }
                &:nth-child(5){
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #474747;
                }
                &:last-child{
                    color: #2A2A2A;
                    @media screen and (max-width:600px) {
                        font-size: 13px;
                        line-height: 1.2;
                    }
                    span{
                        text-decoration: underline;
                        font-size: 17px;
                        line-height: 1.3;
                        color: #2A2A2A;
                    }
                }
            }
        }
    }
}