$primaryBlue : #333;
$shadow: rgba(23, 24, 24, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
$extraShadow: rgba(0, 0, 0, 0.15) 0px 15px 40px 0px;
$box_shadow: 0 9px 18px 0 rgba(0,0,0,0.12);
$blueR: rgb(3, 37, 65);
$primaryBlack: #000;
$green: #55c57a;
$maxPrimaryPageWidth: 1470px;
$opaqueGradient: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8));
$buttonGradient: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
$bannerGradient: linear-gradient(to right, rgba(3,37,65, 0.9) 0%, rgba(3,37,65, 0.5) 100%), url("../../images/bannerCover.jpg");
$blueGradient: linear-gradient(to right, rgba(3,37,65, 0.9) 0%, rgba(3,37,65, 0.7) 100%);
$greenGradient: linear-gradient(to right bottom, rgba(126,213,111,0.5), rgba(40,180,133,0.8));